/**

CSS for search tours module:
https://cabinet.tourvisor.ru/module/code/search/0;

**/

.TVWideForm {
  width: auto;
  min-height: 108px;
  box-shadow: 0px 14px 34px rgba(36, 65, 98, 0.43), 0px 4px 4px rgba(0, 67, 198, 0.21);
  border-radius: 8px;
  box-shadow: 0px 14px 34px rgba(36, 65, 98, 0.43), 0px 4px 4px rgba(0, 67, 198, 0.21), inset 0 -2px rgba(156, 194, 231, 0.24), inset 0 2px rgba(161, 218, 247, 0.33);
  border-radius: 8px;
  background: radial-gradient(farthest-corner at 55% 158%, #DDBFBF 0%, #66ACDF 59.21%, #8AD8F1 100%);
}

.TVInterfaceWrapper {
  font-family: Montserrat;
  overflow: visible;
}
.TVWideForm .TVMainForm {
  position: relative;
  background: none;
  display: flex;
  padding: 24px 24px 32px;
}
.TVFormBlock {
  flex: 1 auto;
}
.TVSearchButton {
  text-shadow: none;
}

.TVSearchingForm .TVLabel {
  text-shadow: none;
  font-size: 14px;
  font-family: var(--display);
}
.TVTextBox, .TVBigBox, .TVLocationBox {
  box-shadow: 0px 14px 36px rgba(0, 20, 122, 0.15), 0px 2px 4px rgba(206, 103, 190, 0.11);
  border-radius: 4px;
  color: #62A5D9;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  font-size: 16px;
}
.TVTextBox:hover, .TVBigBox:hover, .TVLocationBox:hover {
  box-shadow: 0px 14px 36px rgba(0, 20, 122, 0.15), 0px 2px 4px rgba(206, 103, 190, 0.11);
  border-radius: 4px;
}
.TVWideForm .TVLocationBox {
  margin: 0;
  padding: 14px 16px;
  color: #62A5D9;
}
.TVWideForm .TVLocationBox .TVContent {
  font-family: Tourvisor,Trebuchet MS,arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}
.TVWideForm .TVMainForm .TVFormBlock {
  margin-right: 8px;
}
.TVLocationBox .TVContent:after {
  top: -2px;
}
.TVSearchButtonBlock {
  position: absolute;
  left: 50%;
  bottom: -24px;
}
.TVSearchButtonBlock .TVSearchButton {
  width: 160px;
  transform: translateX(-50%);
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 8px 28px rgba(116, 16, 34, 0.06), 0px 14px 34px rgba(36, 45, 98, 0.58), 0px 4px 4px rgba(234, 0, 70, 0.33), inset 0 -2px 0 0 #c22952;

  /* button-red mixin */
  border: 0;
  color: var(--white);
  font-family: var(--display);
  font-weight: bold;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 4px;
  background: linear-gradient(var(--red),#d42360) no-repeat;
  /*box-shadow: 0 7px 13px -3px rgba(66, 35, 35, 0.3), 0 2px 4px 0 rgba(66, 35, 35, 0.4), inset 0 -2px 0 0 #bb4c4c;*/
  border-radius: 4px;
}

.TVSearchButtonBlock .TVSearchButton:before {
  position: absolute;
  top: 9px;
  right: -13px;
  width: 29.5px;
  height: 29.5px;
  border-top: 2px solid #c22952;
  border-radius: 4px;
  transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
  background: linear-gradient(45deg, var(--red),#d42360) no-repeat;
  content: '';
}



.TVSearchResults {
  width: auto!important;
  padding-top: 64px;
}
.TVSRContainer {
  box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2)
}
.TVSRFixePanel, .TVSRFloatPanel {
  background-image: linear-gradient(to top,#f5f5fa,white);
  box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
}
