/**
 * tachyons
 */

.o-hidden {
  overflow: hidden
}
.o-visible {
  overflow: visible;
}
.o-scroll {
  overflow: scroll;
}
.ox-scroll {
  overflow-x: scroll;
}
.oy-scroll {
  overflow-x: scroll;
}


/** Typyons */
.fs-108, .imperial { font-size: 108px; }
.fs-100 { font-size: 100px; }
.fs-96 { font-size: 96px; }
.fs-92 { font-size: 92px; }
.fs-88, .triple-canon { font-size: 88px; }
.fs-84 { font-size: 84px; }
.fs-82 { font-size: 82px; }
.fs-72 { font-size: 72px; }
.fs-66 { font-size: 66px; }
.fs-60 { font-size: 60px; }
.fs-56 { font-size: 56px; }
.fs-54 { font-size: 54px; }
.fs-48 { font-size: 48px; }
.fs-44 { font-size: 44px; }
.fs-42 { font-size: 42px; }
.fs-40 { font-size: 40px; }
.fs-36 { font-size: 36px; }
.fs-32 { font-size: 32px; }
.fs-30 { font-size: 30px; }
.fs-28 { font-size: 28px; }
.fs-26 { font-size: 26px; }
.fs-24 { font-size: 24px; }
.fs-22 { font-size: 22px; }
.fs-20, .paragon { font-size: 20px; }
.fs-18 { font-size: 18px; }
.fs-17 { font-size: 17px; }
.fs-16 { font-size: 16px; }
.fs-15 { font-size: 15px; }
.fs-14 { font-size: 14px; }
.fs-13 { font-size: 14px; }
.fs-12, .pica { font-size: 12px; }
.fs-11 { font-size: 11px; }
.fs-10-5 { font-size: 10.5px; }
.fs-10 { font-size: 10px; }
.fs-9, .bourgeois { font-size: 9px; }
.fs-8, .brevier { font-size: 8px; }
.fs-7-5 { font-size: 7.5px; }
.fs-7 { font-size: 7px; }
.fs-6-5, .emerald, .minionette { font-size: 6.5px; }
.fs-6, .nonpareil { font-size: 6px; }
.fs-5-5, .ruby, .agate { font-size: 5.5px; }
.fs-5, .pearl { font-size: 5px; }
.fs-4-5, .diamond { font-size: 4.5px; }
.fs-4-25 { font-size: 4.25px; }
.fs-4, .brilliant { font-size: 4px; }
.fs-3-5 { font-size: 3.5px; }
.fs-3 { font-size: 3px; }
.fs-2-5 { font-size: 2.5px; }
.fs-2 { font-size: 2px; }
.fs-1-5 { font-size: 1.5px; }
.fs-1 { font-size: 1px; }

.lh-100 { line-height: 1 }
.lh-125 { line-height: 1.25 }
.lh-150 { line-height: 1.5 }
.lh-0 { line-height: 0; }
.lh-0\.5 { line-height: 4px; }
.lh-1 { line-height: 8px; }
.lh-1\.5 { line-height: 12px; }
.lh-2 { line-height: 16px; }
.lh-3 { line-height: 24px; }
.lh-4 { line-height: 32px; }
.lh-5 { line-height: 40px; }
.lh-6 { line-height: 48px; }
.lh-7 { line-height: 56px; }
.lh-8 { line-height: 64px; }
.lh-9 { line-height: 72px; }
.lh-10 { line-height: 80px; }

.f-h, .f-title, .f-display { font-family: var(--display) }
.f-p, .f-paragraph, .f-body { font-family: var(--paragraph)  }
.f-mono { font-family: var(--monospace)  }
.f-sans { font-family: var(--sans-serif) }
.f-serif { font-family: var(--serif) }

.f-normal { font-style: normal; font-weight: normal; }
.f-italic { font-style: italic; }
.f-normal { font-style: normal; }
.f-oblique { font-style: oblique; }
.f-lighter { font-weight: lighter; }
.f-light { font-weight: light; }
.f-regular { font-weight: normal; }
.f-bold { font-weight: bold; }
.f-bolder { font-weight: bolder; }
.f-black { font-weight: 900; }
.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.f-caps, .f-capitalize, .f-cap {
  font-variant: small-caps;
}
.f-upper, .f-uppercase, .f-up {
  text-transform: uppercase;
}
.f-lower, .f-lowercase, .f-low {
  text-transform: lowercase;
}
.f-tracked, .track { letter-spacing:  .05em; }
.f-tight, .f-dense { letter-spacing: -.05em; }
.f-mega { letter-spacing:  .25em; }


/* Text multiplier is .45 */
.text-130 { max-width: 58em; }
.text-120 { max-width: 54em; }
.text-100 { max-width: 45em; }
.text-80 { max-width: 36em; }
.text-66 { max-width: 30em; }
.text-45 { max-width: 20em; line-height: 1.41; }

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.text-indent {
  text-indent: 1em;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-nowrap { white-space: nowrap; }

.text-clear { text-decoration: none; color: inherit; }


/** UIon */
.pointer { cursor: pointer }


/** Gridyon, g- or grid- */
.grid { display: grid; }
.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.grid-area-1x1 { grid-column-start: 1; grid-row-start: 1; }
.grid-area-1x2 { grid-column-start: 2; grid-row-start: 1; }
.grid-area-2x1 { grid-column-start: 1; grid-row-start: 2; }
.grid-area-2x2 { grid-column-start: 2; grid-row-start: 2; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-4x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid-place-lt { place-self: start start }
.grid-place-ct { place-self: start center }
.grid-place-rt { place-self: start end }
.grid-place-st { place-self: start stretch }
.grid-place-lc { place-self: center start }
.grid-place-cc { place-self: center center }
.grid-place-rc { place-self: center end }
.grid-place-sc { place-self: center stretch }
.grid-place-lb { place-self: end start }
.grid-place-cb { place-self: end center }
.grid-place-rb { place-self: end end }
.grid-place-sb { place-self: end stretch }
.grid-place-ls { place-self: stretch start }
.grid-place-cs { place-self: stretch center }
.grid-place-rs { place-self: stretch end }
.grid-place-ss { place-self: stretch stretch }

.gutter-0.5 { grid-column-gap: 4px; grid-row-gap: 4px; }
.gutter-1 { grid-column-gap: 8px; grid-row-gap: 8px; }
.gutter-2 { grid-column-gap: 16px; grid-row-gap: 16px; }
.gutter-3 { grid-column-gap: 24px; grid-row-gap: 24px; }
.gutter-4 { grid-column-gap: 32px; grid-row-gap: 32px; }
.gutter-5 { grid-column-gap: 40px; grid-row-gap: 40px; }

.gutter-1\% { grid-column-gap: 1%; grid-row-gap: 1%; }
.gutter-2\% { grid-column-gap: 2%; grid-row-gap: 2%; }
.gutter-3\% { grid-column-gap: 3%; grid-row-gap: 3%; }
.gutter-4\% { grid-column-gap: 4%; grid-row-gap: 4%; }
.gutter-5\% { grid-column-gap: 5%; grid-row-gap: 5%; }
.gutter-10\% { grid-column-gap: 10%; grid-row-gap: 10%; }


/** Flexion, flex-, f- */
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }

.flex-start, .flex-top, .flex-left { align-items: flex-start; }
.flex-end, .flex-bottom, .flex-right { align-items: flex-end; }
.flex-center { align-items: center; }
.flex-baseline { align-items: baseline; }
.flex-stretch { align-items: stretch; }

.flex-wrap { flex-wrap: wrap }

.flex-row-top { display:flex; flex-direction: row; align-items: flex-start; }
.flex-row-bottom { display:flex; flex-direction: row; align-items: flex-end; }
.flex-row-center { display:flex; flex-direction: row; align-items: center; }
.flex-row-baseline { display:flex; flex-direction: row; align-items: baseline; }
.flex-row-stretch { display:flex; flex-direction: row; align-items: stretch; }

.flex-column-left { display:flex; flex-direction: column; align-items: flex-start; }
.flex-column-right { display:flex; flex-direction: column; align-items: flex-end; }
.flex-column-center { display:flex; flex-direction: column; align-items: center; }
.flex-column-baseline { display:flex; flex-direction: column; align-items: baseline; }
.flex-column-stretch { display:flex; flex-direction: column; align-items: stretch; }

.flex-1-1 { flex-grow: 1; flex-shring: 1; }
.flex-0-1 { flex-grow: 0; flex-shring: 1; }
.flex-1-0 { flex-grow: 1; flex-shring: 0; }
.flex-0-0 { flex-grow: 0; flex-shring: 0; }

.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.self-auto { align-self: auto; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-stretch { align-self: stretch; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }


/** Position, p-, pos- */
.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }

.block { display: block; }
.inline-block { display: inline-block; }

.v-base, .v-baseline { vertical-align: baseline; }
.v-middle { vertical-align: middle; }
.v-top { vertical-align: top; }
.v-bottom { vertical-align: bottom; }

/** Backgroundion, bg-, fillion?, colorion? */
/* !bg-main-parinigs? */
.bg-center { background-repeat:no-repeat;  background-position: center center; }
.bg-top { background-repeat:no-repeat;  background-position: top; }
.bg-bottom { background-repeat:no-repeat;  background-position: bottom; }
.bg-40\% { background-repeat:no-repeat;  background-position: 40%; }
.bg-contain { background-repeat:no-repeat;  background-size: contain; }
.bg-cover { background-repeat:no-repeat;  background-size: cover; }

.c-title { color: var(--title) }
.c-text { color: var(--text) }

.elevation-0 { box-shadow:0px 1px 2px 1px rgba(93,100,148,.15) }
.elevation-1 { box-shadow:0px 1px 4px 2px rgba(93,100,148,.15) }
.elevation-2 { box-shadow:0px 2px 8px 2px rgba(93,100,148,.15) }
.elevation-3 { box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2); }
.elevation-4 { box-shadow: 0 7px 14px -3px rgba(93,100,148,.15), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3; }
.elevation-5 { box-shadow: 0px 25.5769px 46.0385px rgba(2, 21, 122, 0.1), 0px 2.55769px 5.11538px rgba(30, 47, 206, 0.08); }

.text-shadow-1 { text-shadow:0px 0px 4px rgba(93,100,148,.15) }
.text-shadow-2 { text-shadow:0px 0px 8px rgba(93,100,148,.15) }
.text-shadow-3 { text-shadow:2px 2px 4px rgba(93,100,148,.15) }
.text-shadow-4 { text-shadow:0 7px 14px rgba(93,100,148,.15), 0 2px 4px rgba(45,35,66,0.4); }
.text-shadow-5 { text-shadow:4px 4px 8px 0px rgba(93,100,148,.15) }

/** Radion radius-, r- (shapion, formion, sizon, spacion, boxion) */
.no-radius { border-radius: 0 }
.radius { border-radius: 3px }
.pill { border-radius: 9999px }
.radius-0 { border-radius: 0px }
.radius-0\.25 { border-radius: 2px }
.radius-0\.5 { border-radius: 4px }
.radius-1 { border-radius: 8px }
.radius-2 { border-radius: 16px }
.radius-3 { border-radius: 24px }
.radius-4 { border-radius: 32px }
.radius-5 { border-radius: 40px }

/* TODO: radius-tl:xx */
.tl-radius-0 { border-top-left-radius: 0px }
.tl-radius-0\.25 { border-top-left-radius: 2px }
.tl-radius-0\.5 { border-top-left-radius: 4px }
.tl-radius-1 { border-top-left-radius: 8px }
.tl-radius-2 { border-top-left-radius: 16px }
.tl-radius-3 { border-top-left-radius: 24px }
.tl-radius-4 { border-top-left-radius: 32px }
.tl-radius-5 { border-top-left-radius: 40px }

.tr-radius-0 { border-top-right-radius: 0px }
.tr-radius-0\.25 { border-top-right-radius: 2px }
.tr-radius-0\.5 { border-top-right-radius: 4px }
.tr-radius-1 { border-top-right-radius: 8px }
.tr-radius-2 { border-top-right-radius: 16px }
.tr-radius-3 { border-top-right-radius: 24px }
.tr-radius-4 { border-top-right-radius: 32px }
.tr-radius-5 { border-top-right-radius: 40px }

.bl-radius-0 { border-bottom-left-radius: 0px }
.bl-radius-0\.25 { border-bottom-left-radius: 2px }
.bl-radius-0\.5 { border-bottom-left-radius: 4px }
.bl-radius-1 { border-bottom-left-radius: 8px }
.bl-radius-2 { border-bottom-left-radius: 16px }
.bl-radius-3 { border-bottom-left-radius: 24px }
.bl-radius-4 { border-bottom-left-radius: 32px }
.bl-radius-5 { border-bottom-left-radius: 40px }

.br-radius-0 { border-bottom-right-radius: 0px }
.br-radius-0\.25 { border-bottom-right-radius: 2px }
.br-radius-0\.5 { border-bottom-right-radius: 4px }
.br-radius-1 { border-bottom-right-radius: 8px }
.br-radius-2 { border-bottom-right-radius: 16px }
.br-radius-3 { border-bottom-right-radius: 24px }
.br-radius-4 { border-bottom-right-radius: 32px }
.br-radius-5 { border-bottom-right-radius: 40px }

.w-auto { width: auto }
.w-1\/1, .w-100\%, .w-full { width: 100% }
.w-3\/4, .w-75\%, .w-half { width: 75% }
.w-2\/3, .w-66\%, .w-half { width: 66% }
.w-1\/2, .w-50\%, .w-half { width: 50% }
.w-1\/3, .w-33\%, .w-third { width: 33.33% }
.w-1\/4, .w-25\% { width: 25% }
.w-1\/5, .w-20\% { width: 20% }

.w-0 { width: 0; }
.w-0\.5 { width: 4px; }
.w-1 { width: 8px; }
.w-1\.5 { width: 12px; }
.w-2 { width: 16px; }
.w-3 { width: 24px; }
.w-4 { width: 32px; }
.w-5 { width: 40px; }
.w-6 { width: 48px; }
.w-7 { width: 56px; }
.w-8 { width: 64px; }
.w-10 { width: 80px; }
.w-12 { width: 96px; }
.w-16 { width: 128px; }
.w-20 { width: 160px; }
.w-24 { width: 192px; }
.w-25 { width: 200px; }
.w-28 { width: 224px; }
.w-30 { width: 240px; }
.w-32 { width: 256px; }
.w-40 { width: 320px; }

.h-auto { height: auto }
.h-1\/1, .h-100\% { height: 100% }
.h-1\/2, .h-50\% { height: 50% }
.h-1\/3, .h-33\% { height: 33.33% }
.h-1\/4, .h-25\% { height: 25% }

.h-0 { height: 0; }
.h-0\.5 { height: 4px; }
.h-1 { height: 8px; }
.h-1\.5 { height: 12px; }
.h-2 { height: 16px; }
.h-3 { height: 24px; }
.h-4 { height: 32px; }
.h-5 { height: 40px; }
.h-6 { height: 48px; }
.h-7 { height: 56px; }
.h-8 { height: 64px; }
.h-10 { height: 80px; }
.h-12 { height: 96px; }
.h-16 { height: 128px; }
.h-20 { height: 160px; }
.h-24 { height: 192px; }
.h-25 { height: 200px; }
.h-28 { height: 224px; }
.h-30 { height: 240px; }
.h-32 { height: 256px; }
.h-40 { height: 320px; }

/** Bordion */
.bt-0 { border-top-width: 0; border-top-style: solid; }
.bt-1 { border-top-width: 1px; border-top-style: solid; }
.bt-2 { border-top-width: 2px; border-top-style: solid; }
.bt-3 { border-top-width: 3px; border-top-style: solid; }
.bt-4 { border-top-width: 4px; border-top-style: solid; }
.bb-0 { border-bottom-width: 0; border-bottom-style: solid; }
.bb-1 { border-bottom-width: 1px; border-bottom-style: solid; }
.bb-2 { border-bottom-width: 2px; border-bottom-style: solid; }
.bb-3 { border-bottom-width: 3px; border-bottom-style: solid; }
.bb-4 { border-bottom-width: 4px; border-bottom-style: solid; }
.br-0 { border-right-width: 0; border-right-style: solid; }
.br-1 { border-right-width: 1px; border-right-style: solid; }
.br-2 { border-right-width: 2px; border-right-style: solid; }
.br-3 { border-right-width: 3px; border-right-style: solid; }
.br-4 { border-right-width: 4px; border-right-style: solid; }
.bl-0 { border-left-width: 0; border-left-style: solid; }
.bl-1 { border-left-width: 1px; border-left-style: solid; }
.bl-2 { border-left-width: 2px; border-left-style: solid; }
.bl-3 { border-left-width: 3px; border-left-style: solid; }
.bl-4 { border-left-width: 4px; border-left-style: solid; }
.b-none { border: none; }
.bl-none { border-left: none; }
.bt-none { border-top: none; }
.bb-none { border-bottom: none; }
.br-none { border-right: none; }

/** Posityon, pos-t:xx */
.t-auto { top: auto } .l-auto { left: auto } .r-auto { right: auto } .b-auto { bottom: auto }
.t--0\.5 { top: -4px } .l--0\.5 { left: -4px } .r--0\.5 { right: -4px } .b--0\.5 { bottom: -4px }
.t--1 { top: -8px } .l--1 { left: -8px } .r--1 { right: -8px } .b--1 { bottom: -8px }
.t--1\.5 { top: -12px } .l--1\.5 { left: -12px } .r--1\.5 { right: -12px } .b--1\.5 { bottom: -12px }
.t--2 { top: -16px} .l--2 { left: -16px} .r--2 { right: -16px} .b--2 { bottom: -16px}
.t--3 { top: -24px } .l--3 { left: -24px } .r--3 { right: -24px } .b--3 { bottom: -24px }
.t--4 { top: -32px } .l--4 { left: -32px } .r--4 { right: -32px } .b--4 { bottom: -32px }
.t--5 { top: -40px } .l--5 { left: -40px } .r--5 { right: -40px } .b--5 { bottom: -40px }
.t--6 { top: -48px } .l--6 { left: -48px } .r--6 { right: -48px } .b--6 { bottom: -48px }
.t--7 { top: -56px } .l--7 { left: -56px } .r--7 { right: -56px } .b--7 { bottom: -56px }
.t--8 { top: -64px } .l--8 { left: -64px } .r--8 { right: -64px } .b--8 { bottom: -64px }
.t--9 { top: -72px } .l--9 { left: -72px } .r--9 { right: -72px } .b--9 { bottom: -72px }
.t--10 { top: -80px } .l--10 { left: -80px } .r--10 { right: -80px } .b--10 { bottom: -80px }
.t--11 { top: -88px } .l--11 { left: -88px } .r--11 { right: -88px } .b--11 { bottom: -88px }
.t--12 { top: -96px } .l--12 { left: -96px } .r--12 { right: -96px } .b--12 { bottom: -96px }
.t--16 { top: -128px } .l--16 { left: -128px } .r--16 { right: -128px } .b--16 { bottom: -128px }
.t--20 { top: -160px } .l--20 { left: -160px } .r--20 { right: -160px } .b--20 { bottom: -160px }
.t--25 { top: -200px } .l--25 { left: -200px } .r--25 { right: -200px } .b--25 { bottom: -200px }
.t--30 { top: -240px } .l--30 { left: -240px } .r--30 { right: -240px } .b--30 { bottom: -240px }
.t--32 { top: -256px } .l--32 { left: -256px } .r--32 { right: -256px } .b--32 { bottom: -256px }
.t--40 { top: -320px } .l--40 { left: -320px } .r--40 { right: -320px } .b--40 { bottom: -320px }
.t--50 { top: -400px } .l--50 { left: -400px } .r--50 { right: -400px } .b--50 { bottom: -400px }
.t--0 { top: -0 } .l--0 { left: -0 } .r--0 { right: -0 } .b--0 { bottom: -0 }
.t-0 { top: 0 } .l-0 { left: 0 } .r-0 { right: 0 } .b-0 { bottom: 0 }
.t-0\.5 { top: 4px } .l-0\.5 { left: 4px } .r-0\.5 { right: 4px } .b-0\.5 { bottom: 4px }
.t-1 { top: 8px } .l-1 { left: 8px } .r-1 { right: 8px } .b-1 { bottom: 8px }
.t-1\.5 { top: 12px } .l-1\.5 { left: 12px } .r-1\.5 { right: 12px } .b-1\.5 { bottom: 12px }
.t-2 { top: 16px} .l-2 { left: 16px} .r-2 { right: 16px} .b-2 { bottom: 16px}
.t-3 { top: 24px } .l-3 { left: 24px } .r-3 { right: 24px } .b-3 { bottom: 24px }
.t-4 { top: 32px } .l-4 { left: 32px } .r-4 { right: 32px } .b-4 { bottom: 32px }
.t-5 { top: 40px } .l-5 { left: 40px } .r-5 { right: 40px } .b-5 { bottom: 40px }
.t-6 { top: 48px } .l-6 { left: 48px } .r-6 { right: 48px } .b-6 { bottom: 48px }
.t-7 { top: 56px } .l-7 { left: 56px } .r-7 { right: 56px } .b-7 { bottom: 56px }
.t-8 { top: 64px } .l-8 { left: 64px } .r-8 { right: 64px } .b-8 { bottom: 64px }
.t-9 { top: 72px } .l-9 { left: 72px } .r-9 { right: 72px } .b-9 { bottom: 72px }
.t-10 { top: 80px } .l-10 { left: 80px } .r-10 { right: 80px } .b-10 { bottom: 80px }
.t-11 { top: 88px } .l-11 { left: 88px } .r-11 { right: 88px } .b-11 { bottom: 88px }
.t-12 { top: 96px } .l-12 { left: 96px } .r-12 { right: 96px } .b-12 { bottom: 96px }
.t-16 { top: 128px } .l-16 { left: 128px } .r-16 { right: 128px } .b-16 { bottom: 128px }
.t-20 { top: 160px } .l-20 { left: 160px } .r-20 { right: 160px } .b-20 { bottom: 160px }
.t-25 { top: 200px } .l-25 { left: 200px } .r-25 { right: 200px } .b-25 { bottom: 200px }
.t-30 { top: 240px } .l-30 { left: 240px } .r-30 { right: 240px } .b-30 { bottom: 240px }
.t-32 { top: 256px } .l-32 { left: 256px } .r-32 { right: 256px } .b-32 { bottom: 256px }
.t-40 { top: 320px } .l-40 { left: 320px } .r-40 { right: 320px } .b-40 { bottom: 320px }
.t-50 { top: 400px } .l-50 { left: 400px } .r-50 { right: 400px } .b-50 { bottom: 400px }

.z--1 { z-index: -1; }
.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }
.z-999 { z-index: 999; }
.z-9999 { z-index: 9999; }
.z-max { z-index: 2147483647; }
.z-unset { z-index: unset; }

.order--999 { order: -999; }
.order--1 { order: -1; }
.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-9 { order: 9; }
.order-10 { order: 10; }
.order-100 { order: 100; }
.order-999 { order: 999; }
.order-1000 { order: 1000; }
.order-9999 { order: 9999; }
.order-max { order: 2147483647; }
.order-unset { order: unset; }



/** Spacyon, paddyon, p- */
/* !merge with margin- */
.p-0 { padding: 0; }
.p-0\.5 { padding: 4px; }
.p-1 { padding: 8px; }
.p-1\.5 { padding: 12px; }
.p-2 { padding: 16px; }
.p-3 { padding: 24px; }
.p-4 { padding: 32px; }
.p-5 { padding: 40px; }
.p-6 { padding: 48px; }
.p-7 { padding: 56px; }
.p-8 { padding: 64px; }

.pl-0 { padding-left: 0; }
.pl-0\.5 { padding-left: 4px; }
.pl-1 { padding-left: 8px; }
.pl-1\.5 { padding-left: 12px; }
.pl-2 { padding-left: 16px; }
.pl-3 { padding-left: 24px; }
.pl-4 { padding-left: 32px; }
.pl-5 { padding-left: 40px; }
.pl-6 { padding-left: 48px; }
.pl-7 { padding-left: 56px; }
.pl-8 { padding-left: 64px; }

.pr-0 { padding-right: 0; }
.pr-0\.5 { padding-right: 4px; }
.pr-1 { padding-right: 8px; }
.pr-1\.5 { padding-right: 12px; }
.pr-2 { padding-right: 16px; }
.pr-3 { padding-right: 24px; }
.pr-4 { padding-right: 32px; }
.pr-5 { padding-right: 40px; }
.pr-6 { padding-right: 48px; }
.pr-7 { padding-right: 56px; }
.pr-8 { padding-right: 64px; }

.pb-0 { padding-bottom: 0; }
.pb-0\.5 { padding-bottom: 4px; }
.pb-1 { padding-bottom: 8px; }
.pb-1\.5 { padding-bottom: 12px; }
.pb-2 { padding-bottom: 16px; }
.pb-3 { padding-bottom: 24px; }
.pb-4 { padding-bottom: 32px; }
.pb-5 { padding-bottom: 40px; }
.pb-6 { padding-bottom: 48px; }
.pb-7 { padding-bottom: 56px; }
.pb-8 { padding-bottom: 64px; }

.pt-0 { padding-top: 0; }
.pt-0\.5 { padding-top: 4px; }
.pt-1 { padding-top: 8px; }
.pt-1\.5 { padding-top: 12px; }
.pt-2 { padding-top: 16px; }
.pt-3 { padding-top: 24px; }
.pt-4 { padding-top: 32px; }
.pt-5 { padding-top: 40px; }
.pt-6 { padding-top: 48px; }
.pt-7 { padding-top: 56px; }
.pt-8 { padding-top: 64px; }

.py-0 { padding-top: 0;  padding-bottom: 0; }
.py-0\.5 { padding-top: 4px;  padding-bottom: 4px; }
.py-1 { padding-top: 8px;  padding-bottom: 8px; }
.py-1\.5 { padding-top: 12px;  padding-bottom: 12px; }
.py-2 { padding-top: 16px;  padding-bottom: 16px; }
.py-3 { padding-top: 24px;  padding-bottom: 24px; }
.py-4 { padding-top: 32px;  padding-bottom: 32px; }
.py-5 { padding-top: 40px;  padding-bottom: 40px; }
.py-6 { padding-top: 48px;  padding-bottom: 48px; }
.py-7 { padding-top: 56px;  padding-bottom: 56px; }
.py-8 { padding-top: 64px;  padding-bottom: 64px; }

.px-0 { padding-left: 0;  padding-right: 0; }
.px-0\.5 { padding-left: 4px;  padding-right: 4px; }
.px-1 { padding-left: 8px;  padding-right: 8px; }
.px-1\.5 { padding-left: 12px;  padding-right: 12px; }
.px-2 { padding-left: 16px;  padding-right: 16px; }
.px-3 { padding-left: 24px;  padding-right: 24px; }
.px-4 { padding-left: 32px;  padding-right: 32px; }
.px-5 { padding-left: 40px;  padding-right: 40px; }
.px-6 { padding-left: 48px;  padding-right: 48px; }
.px-7 { padding-left: 56px;  padding-right: 56px; }
.px-8 { padding-left: 64px;  padding-right: 64px; }

.m-auto { margin: auto; }
.m-0 { margin: 0; }
.m-0\.5 { margin: 4px; }
.m-1 { margin: 8px; }
.m-1\.5 { margin: 12px; }
.m-2 { margin: 16px; }
.m-3 { margin: 24px; }
.m-4 { margin: 32px; }
.m-5 { margin: 40px; }
.m-6 { margin: 48px; }
.m-7 { margin: 56px; }
.m-8 { margin: 64px; }
.m-9 { margin: 72px; }
.m-10 { margin: 80px; }

.ml-auto { margin-left: auto; }
.ml--0 { margin-left: -0; }
.ml--0\.5 { margin-left: -4px; }
.ml--1 { margin-left: -8px; }
.ml--1\.5 { margin-left: -12px; }
.ml--2 { margin-left: -16px; }
.ml--3 { margin-left: -24px; }
.ml--4 { margin-left: -32px; }
.ml--5 { margin-left: -40px; }
.ml--6 { margin-left: -48px; }
.ml--7 { margin-left: -56px; }
.ml--8 { margin-left: -64px; }
.ml--9 { margin-left: -72px; }
.ml--10 { margin-left: -80px; }
.ml-0 { margin-left: 0; }
.ml-0\.5 { margin-left: 4px; }
.ml-1 { margin-left: 8px; }
.ml-1\.5 { margin-left: 12px; }
.ml-2 { margin-left: 16px; }
.ml-3 { margin-left: 24px; }
.ml-4 { margin-left: 32px; }
.ml-5 { margin-left: 40px; }
.ml-6 { margin-left: 48px; }
.ml-7 { margin-left: 56px; }
.ml-8 { margin-left: 64px; }
.ml-9 { margin-left: 72px; }
.ml-10 { margin-left: 80px; }

.mr-auto { margin-right: auto; }
.mr--0 { margin-right: -0; }
.mr--0\.5 { margin-right: -4px; }
.mr--1 { margin-right: -8px; }
.mr--1\.5 { margin-right: -12px; }
.mr--2 { margin-right: -16px; }
.mr--3 { margin-right: -24px; }
.mr--4 { margin-right: -32px; }
.mr--5 { margin-right: -40px; }
.mr--6 { margin-right: -48px; }
.mr--7 { margin-right: -56px; }
.mr--8 { margin-right: -64px; }
.mr--9 { margin-right: -72px; }
.mr--10 { margin-right: -80px; }
.mr-0 { margin-right: 0; }
.mr-0\.5 { margin-right: 4px; }
.mr-1 { margin-right: 8px; }
.mr-1\.5 { margin-right: 12px; }
.mr-2 { margin-right: 16px; }
.mr-3 { margin-right: 24px; }
.mr-4 { margin-right: 32px; }
.mr-5 { margin-right: 40px; }
.mr-6 { margin-right: 48px; }
.mr-7 { margin-right: 56px; }
.mr-8 { margin-right: 64px; }
.mr-9 { margin-right: 72px; }
.mr-10 { margin-right: 80px; }

.mb-auto { margin-bottom: auto; }
.mb--0 { margin-bottom: -0; }
.mb--0\.5 { margin-bottom: -4px; }
.mb--1 { margin-bottom: -8px; }
.mb--1\.5 { margin-bottom: -12px; }
.mb--2 { margin-bottom: -16px; }
.mb--3 { margin-bottom: -24px; }
.mb--4 { margin-bottom: -32px; }
.mb--5 { margin-bottom: -40px; }
.mb--6 { margin-bottom: -48px; }
.mb--7 { margin-bottom: -56px; }
.mb--8 { margin-bottom: -64px; }
.mb--9 { margin-bottom: -72px; }
.mb--10 { margin-bottom: -80px; }
.mb-0 { margin-bottom: 0; }
.mb-0\.5 { margin-bottom: 4px; }
.mb-1 { margin-bottom: 8px; }
.mb-1\.5 { margin-bottom: 12px; }
.mb-2 { margin-bottom: 16px; }
.mb-3 { margin-bottom: 24px; }
.mb-4 { margin-bottom: 32px; }
.mb-5 { margin-bottom: 40px; }
.mb-6 { margin-bottom: 48px; }
.mb-7 { margin-bottom: 56px; }
.mb-8 { margin-bottom: 64px; }
.mb-9 { margin-bottom: 72px; }
.mb-10 { margin-bottom: 80px; }

.mt-auto { margin-top: auto; }
.mt--0 { margin-top: -0; }
.mt--0\.5 { margin-top: -4px; }
.mt--1 { margin-top: -8px; }
.mt--1\.5 { margin-top: -12px; }
.mt--2 { margin-top: -16px; }
.mt--3 { margin-top: -24px; }
.mt--4 { margin-top: -32px; }
.mt--5 { margin-top: -40px; }
.mt--6 { margin-top: -48px; }
.mt--7 { margin-top: -56px; }
.mt--8 { margin-top: -64px; }
.mt--9 { margin-top: -72px; }
.mt--10 { margin-top: -80px; }
.mt-0 { margin-top: 0; }
.mt-0\.5 { margin-top: 4px; }
.mt-1 { margin-top: 8px; }
.mt-1\.5 { margin-top: 12px; }
.mt-2 { margin-top: 16px; }
.mt-3 { margin-top: 24px; }
.mt-4 { margin-top: 32px; }
.mt-5 { margin-top: 40px; }
.mt-6 { margin-top: 48px; }
.mt-7 { margin-top: 56px; }
.mt-8 { margin-top: 64px; }
.mt-9 { margin-top: 72px; }
.mt-10 { margin-top: 80px; }

.my-auto { margin-top: auto;  margin-bottom: auto; }
.my-0 { margin-top: 0;  margin-bottom: 0; }
.my-0\.5 { margin-top: 4px;  margin-bottom: 4px; }
.my-1 { margin-top: 8px;  margin-bottom: 8px; }
.my-1\.5 { margin-top: 12px;  margin-bottom: 12px; }
.my-2 { margin-top: 16px;  margin-bottom: 16px; }
.my-3 { margin-top: 24px;  margin-bottom: 24px; }
.my-4 { margin-top: 32px;  margin-bottom: 32px; }
.my-5 { margin-top: 40px;  margin-bottom: 40px; }
.my-6 { margin-top: 48px;  margin-bottom: 48px; }
.my-7 { margin-top: 56px;  margin-bottom: 56px; }
.my-8 { margin-top: 64px;  margin-bottom: 64px; }
.my-9 { margin-top: 72px;  margin-bottom: 72px; }
.my-10 { margin-top: 80px;  margin-bottom: 80px; }

.mx-auto { margin-left: auto;  margin-right: auto; }
.mx-0 { margin-left: 0;  margin-right: 0; }
.mx-0\.5 { margin-left: 4px;  margin-right: 4px; }
.mx-1 { margin-left: 8px;  margin-right: 8px; }
.mx-1\.5 { margin-left: 12px;  margin-right: 12px; }
.mx-2 { margin-left: 16px;  margin-right: 16px; }
.mx-3 { margin-left: 24px;  margin-right: 24px; }
.mx-4 { margin-left: 32px;  margin-right: 32px; }
.mx-5 { margin-left: 40px;  margin-right: 40px; }
.mx-6 { margin-left: 48px;  margin-right: 48px; }
.mx-7 { margin-left: 56px;  margin-right: 56px; }
.mx-8 { margin-left: 64px;  margin-right: 64px; }
.mx-9 { margin-left: 72px;  margin-right: 72px; }
.mx-10 { margin-left: 80px;  margin-right: 80px; }

/* TODO: move to animation effects */
.hover\:slide {
  transition: transform 0.15s ease;
  will-change: transform;
}
.hover\:slide:hover {
  transform: translateY(-2px);
}

@media (--breakpoint-small) {
  .s\:flex-column { display: flex; flex-direction: column; }
  .s\:flex-row { display: flex; flex-direction: row; }
}
@media (--breakpoint-medium) {
  .m\:flex-column { display: flex; flex-direction: column; }
  .m\:flex-row { display: flex; flex-direction: row; }
}
@media (--breakpoint-large) {
  .l\:flex-column { display: flex; flex-direction: column; }
  .l\:flex-row { display: flex; flex-direction: row; }
}
