/** Custom to-travel styles */

:root {
  --display: 'Montserrat', var(--sans-serif);
  --paragraph: 'Source Sans Pro', sans-serif;

  /*--red: #FF0039;*/
  --red: #F33A5E;
  --light-red: #F57C94;
  --dark-red: #d42360;
  --dark-blue: #1669C0;
  --light-blue: #85c6f6;
  --blue: #5b88d1;
  --dark-gray:  #2F4253;
  --near-white: #F8F9Fa;
  --gray: #849CA4;
  --light-gray: #e3e4e5;
}

body {
  font-family: var(--paragraph);
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

#site-header {
  background: linear-gradient(180deg, #70B9E4 0%, rgba(112, 185, 228, 0) 100%);
}

#intro {
  background-color: #70b9e4;
  background-image: url('./intro-fade-wide.webp');
}
#outro {
  background: linear-gradient(to right, rgba(91, 69, 244, 0.17), rgba(238, 160, 73, 0.76)), url(./outro.webp) center no-repeat;
  background-size: auto, cover;
}

#intro-title {
}

#phones {
  background: linear-gradient(180deg, rgba(88, 97, 114, 0.62) 0%, rgba(77, 94, 98, 0.23) 100%);
}

#search {
}


#testimonials {
  border-top: 3px dashed #e3e8f9;
  border-bottom: 3px dashed #e3e8f9;
  background: linear-gradient(89.41deg, #F3FBFD 0.35%, #F6F3F3 99.84%), #F3FBFD;
}

#footer {
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsla(0, 8%, 98%, 0.88) 100%), url('./world.svg');
}


#tags {
}
.tag {
  background-color: var(--washed-blue);
  color: var(--dark-gray);
  font-family: var(--display);
  position: relative;
  margin-right: 24px;
}
.tag:hover {
  background-color: var(--red);
  color: var(--white);
}
.tag:before {
  position: absolute;
  top: 10.25px;
  right: -15px;
  width: 35.5px;
  height: 35.5px;
  border-radius: 5px;
  border-top-left-radius: 3px;
  transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
  background: inherit;
  content: '';
}

.price-tag {
  border-radius: 3px;
  background: linear-gradient(92.95deg, #FDD8E1 0.48%, #FAF5E4 99.26%);
}
.price-tag:before {
  position: absolute;
  top: 7px;
  right: -13px;
  width: 26.5px;
  height: 26.5px;
  border-radius: 4px;
  transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
  background: #FAF5E4;
  content: '';
}

.tour-tag {
  border-radius: 3px;
  background: var(--red);
  color: var(--white);
}
.tour-tag:before {
  position: absolute;
  top: 7px;
  right: -11px;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border-top-left-radius: 2px;
  transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
  background: var(--red);
  content: '';
}
.tour-tag-yellow {
  background: var(--yellow);
}
.tour-tag-yellow:before {
  background: var(--yellow);
}

.stripe > *:nth-of-type(odd) {
  background:
    linear-gradient(to right, var(--white) 0, var(--near-white) 3%, var(--near-white) 97%, var(--white) 100%),
    var(--near-white);
}

.stripe-4 > *:nth-child(4n),
.stripe-4 > *:nth-child(4n - 3) {
  background:
    linear-gradient(to right, var(--white) 0, var(--near-white) 3%, var(--near-white) 97%, var(--white) 100%),
    var(--near-white);
}


.link {
  text-decoration: none;
}

.breadcrumb {
  /*color: #9ca8b5;*/
  /*border-color: rgba(156, 168, 181, 0.25882352941176473);*/
}

.testimonial:before {
  content: '«';
  line-height: 24px;
  font-family: var(--paragraph);
  color: var(--dark-blue);
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 64px;
  font-weight: bold;
}
.testimonial:after {
  content: '»';
  line-height: 24px;
  font-family: var(--paragraph);
  color: var(--dark-blue);
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 64px;
  font-weight: bold;
}

.feature {
  transition: transform 0.15s ease;
  will-change: transform;
}
.feature:hover {
  transform: translateY(-2px);
  background: linear-gradient(93.33deg, #177DC8 2.82%, #293DB6 97.5%);
  color: var(--white);
  box-shadow: 0px 25.5769px 46.0385px rgba(2, 39, 122, 0.39), 0px 4.55769px 14.11538px rgba(30, 117, 206, 0.62);
}
.feature:hover .feature-title {
  color: var(--white);
}
.feature:hover .feature-desc {
  color: var(--white);
}
.feature:hover svg {
  fill: var(--white);
}


.drop-element {
  z-index: 4!important;
}


#footer-logo {
}


.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
}

.resp-sharing-button {
  color: var(--gray);
  margin-right: 8px;
  transition: 25ms ease-out;
}

.resp-sharing-button__icon svg {
  width: 24px;
  height: 24px;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: currentColor;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: currentColor;
  stroke: none
}

.resp-sharing-button--twitter {
  /*color: #55acee*/
}

.resp-sharing-button--twitter:hover {
  color: #2795e9
}

.resp-sharing-button--pinterest {
  /*color: #bd081c*/
}

.resp-sharing-button--pinterest:hover {
  color: #8c0615
}

.resp-sharing-button--facebook {
  /*color: #3b5998*/
}

.resp-sharing-button--facebook:hover {
  color: #2d4373
}

.resp-sharing-button--tumblr {
  /*color: #35465C*/
}

.resp-sharing-button--tumblr:hover {
  color: #222d3c
}

.resp-sharing-button--reddit {
  /*color: #5f99cf*/
}

.resp-sharing-button--reddit:hover {
  color: #3a80c1
}

.resp-sharing-button--google {
  /*color: #dd4b39*/
}

.resp-sharing-button--google:hover {
  color: #c23321
}

.resp-sharing-button--linkedin {
  /*color: #0077b5*/
}

.resp-sharing-button--linkedin:hover {
  color: #046293
}

.resp-sharing-button--email {
  /*color: #777*/
}

.resp-sharing-button--email:hover {
  color: #5e5e5e
}

.resp-sharing-button--xing {
  /*color: #1a7576*/
}

.resp-sharing-button--xing:hover {
  color: #114c4c
}

.resp-sharing-button--whatsapp {
  /*color: #25D366*/
}

.resp-sharing-button--whatsapp:hover {
  color: #1da851
}

.resp-sharing-button--hackernews {
/*color: #FF6600*/
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   color: #FB6200 }

.resp-sharing-button--vk {
  /*color: #507299*/
}

.resp-sharing-button--vk:hover {
  color: #43648c
}

.resp-sharing-button--facebook {
  /*color: #3b5998;*/
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  /*color: #55acee;*/
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  /*color: #777777;*/
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--whatsapp {
  /*color: #25D366;*/
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--vk {
  /*color: #507299;*/
  border-color: #507299;
}

.resp-sharing-button--vk:hover
.resp-sharing-button--vk:active {
  color: #43648c;
  border-color: #43648c;
}

.resp-sharing-button--telegram {
  /*color: #54A9EB;*/
}

.resp-sharing-button--telegram:hover {
  color: #4B97D1;}
