/**
 * mobile-tachyons
 */

 /* @custom-media --breakpoint-small screen and (min-device-width: 30rem); */
 /* @custom-media --breakpoint-medium screen and (min-device-width: 30rem) and (max-width: 60rem); */
 /* @custom-media --breakpoint-large screen and (min-device-width: 60rem); */


@media screen and (max-device-width: 60rem) {

.nbsp, .no-break, .nowrap { white-space: nowrap }

.m\:o-hidden { overflow: hidden }
.m\:o-visible { overflow: visible; }
.m\:o-scroll { overflow: scroll; }
.m\:ox-scroll { overflow-x: scroll; }
.m\:oy-scroll { overflow-x: scroll; }

/** Typyons */
.m\:fs-108, .m\:imperial { font-size: 108px; }
.m\:fs-100 { font-size: 100px; }
.m\:fs-96 { font-size: 96px; }
.m\:fs-92 { font-size: 92px; }
.m\:fs-88, .m\:triple-canon { font-size: 88px; }
.m\:fs-84 { font-size: 84px; }
.m\:fs-82 { font-size: 82px; }
.m\:fs-72 { font-size: 72px; }
.m\:fs-66 { font-size: 66px; }
.m\:fs-60 { font-size: 60px; }
.m\:fs-56 { font-size: 56px; }
.m\:fs-54 { font-size: 54px; }
.m\:fs-48 { font-size: 48px; }
.m\:fs-44 { font-size: 44px; }
.m\:fs-42 { font-size: 42px; }
.m\:fs-40 { font-size: 40px; }
.m\:fs-36 { font-size: 36px; }
.m\:fs-32 { font-size: 32px; }
.m\:fs-30 { font-size: 30px; }
.m\:fs-28 { font-size: 28px; }
.m\:fs-26 { font-size: 26px; }
.m\:fs-24 { font-size: 24px; }
.m\:fs-22 { font-size: 22px; }
.m\:fs-20, .m\:paragon { font-size: 20px; }
.m\:fs-18 { font-size: 18px; }
.m\:fs-17 { font-size: 17px; }
.m\:fs-16 { font-size: 16px; }
.m\:fs-15 { font-size: 15px; }
.m\:fs-14 { font-size: 14px; }
.m\:fs-13 { font-size: 14px; }
.m\:fs-12, .m\:pica { font-size: 12px; }
.m\:fs-11 { font-size: 11px; }
.m\:fs-10-5 { font-size: 10.5px; }
.m\:fs-10 { font-size: 10px; }
.m\:fs-9, .m\:bourgeois { font-size: 9px; }
.m\:fs-8, .m\:brevier { font-size: 8px; }
.m\:fs-7-5 { font-size: 7.5px; }
.m\:fs-7 { font-size: 7px; }
.m\:fs-6-5, .m\:emerald, .m\:minionette { font-size: 6.5px; }
.m\:fs-6, .m\:nonpareil { font-size: 6px; }
.m\:fs-5-5, .m\:ruby, .m\:agate { font-size: 5.5px; }
.m\:fs-5, .m\:pearl { font-size: 5px; }
.m\:fs-4-5, .m\:diamond { font-size: 4.5px; }
.m\:fs-4-25 { font-size: 4.25px; }
.m\:fs-4, .m\:brilliant { font-size: 4px; }
.m\:fs-3-5 { font-size: 3.5px; }
.m\:fs-3 { font-size: 3px; }
.m\:fs-2-5 { font-size: 2.5px; }
.m\:fs-2 { font-size: 2px; }
.m\:fs-1-5 { font-size: 1.5px; }
.m\:fs-1 { font-size: 1px; }

.m\:lh-100 { line-height: 1 }
.m\:lh-125 { line-height: 1.25 }
.m\:lh-150 { line-height: 1.5 }
.m\:lh-0 { line-height: 0; }
.m\:lh-0\.5, .m\:lh-\.5 { line-height: 4px; }
.m\:lh-1 { line-height: 8px; }
.m\:lh-1\.5 { line-height: 12px; }
.m\:lh-2 { line-height: 16px; }
.m\:lh-3 { line-height: 24px; }
.m\:lh-4 { line-height: 32px; }
.m\:lh-5 { line-height: 40px; }
.m\:lh-6 { line-height: 48px; }
.m\:lh-7 { line-height: 56px; }
.m\:lh-8 { line-height: 64px; }
.m\:lh-9 { line-height: 72px; }
.m\:lh-10 { line-height: 80px; }

.m\:f-h, .m\:f-title, .m\:f-display { font-family: var(--display) }
.m\:f-p, .m\:f-paragraph, .m\:f-body { font-family: var(--paragraph)  }
.m\:f-mono { font-family: var(--monospace)  }
.m\:f-sans { font-family: var(--sans-serif) }
.m\:f-serif { font-family: var(--serif) }

.m\:f-normal { font-style: normal; font-weight: normal; }
.m\:f-italic { font-style: italic; }
.m\:f-normal { font-style: normal; }
.m\:f-oblique { font-style: oblique; }
.m\:f-lighter { font-weight: lighter; }
.m\:f-light { font-weight: light; }
.m\:f-regular { font-weight: normal; }
.m\:f-bold { font-weight: bold; }
.m\:f-bolder { font-weight: bolder; }
.m\:f-black { font-weight: 900; }
.m\:fw-100 { font-weight: 100; }
.m\:fw-200 { font-weight: 200; }
.m\:fw-300 { font-weight: 300; }
.m\:fw-400 { font-weight: 400; }
.m\:fw-500 { font-weight: 500; }
.m\:fw-600 { font-weight: 600; }
.m\:fw-700 { font-weight: 700; }
.m\:fw-800 { font-weight: 800; }
.m\:fw-900 { font-weight: 900; }

.m\:f-caps, .m\:f-capitalize, .m\:f-cap {
  font-variant: small-caps;
}
.m\:f-upper, .m\:f-uppercase, .m\:f-up {
  text-transform: uppercase;
}
.m\:f-lower, .m\:f-lowercase, .m\:f-low {
  text-transform: lowercase;
}
.m\:f-tracked, .m\:track { letter-spacing:  .05em; }
.m\:f-tight, .m\:f-dense { letter-spacing: -.05em; }
.m\:f-mega { letter-spacing:  .25em; }


/* Text multiplier is .45 */
.m\:text-130 { max-width: 58em; }
.m\:text-120 { max-width: 54em; }
.m\:text-100 { max-width: 45em; }
.m\:text-80 { max-width: 36em; }
.m\:text-66 { max-width: 30em; }
.m\:text-45 { max-width: 20em; }

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.m\:text-center {
  text-align: center;
}
.m\:text-left {
  text-align: left;
}
.m\:text-right {
  text-align: right;
}
.m\:text-justify {
  text-align: justify;
}
.m\:text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m\:text-nowrap { white-space: nowrap; }

.m\:text-clear { text-decoration: none; color: inherit; }


/** UIon */
.m\:pointer { cursor: pointer }


/** Gridyon, g- or grid- */
.m\:grid { display: grid; }
.m\:grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.m\:grid-area-1x1 { grid-column-start: 1; grid-row-start: 1; }
.m\:grid-area-1x2 { grid-column-start: 2; grid-row-start: 1; }
.m\:grid-area-2x1 { grid-column-start: 1; grid-row-start: 2; }
.m\:grid-area-2x2 { grid-column-start: 2; grid-row-start: 2; }

.m\:grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.m\:grid-4x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.m\:grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.m\:grid-3x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.m\:grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.m\:grid-place-lt { place-self: start start }
.m\:grid-place-ct { place-self: start center }
.m\:grid-place-rt { place-self: start end }
.m\:grid-place-st { place-self: start stretch }
.m\:grid-place-lc { place-self: center start }
.m\:grid-place-cc { place-self: center center }
.m\:grid-place-rc { place-self: center end }
.m\:grid-place-sc { place-self: center stretch }
.m\:grid-place-lb { place-self: end start }
.m\:grid-place-cb { place-self: end center }
.m\:grid-place-rb { place-self: end end }
.m\:grid-place-sb { place-self: end stretch }
.m\:grid-place-ls { place-self: stretch start }
.m\:grid-place-cs { place-self: stretch center }
.m\:grid-place-rs { place-self: stretch end }
.m\:grid-place-ss { place-self: stretch stretch }

.m\:gap-0.5 { grid-column-gap: 4px; grid-row-gap: 4px; }
.m\:gap-1 { grid-column-gap: 8px; grid-row-gap: 8px; }
.m\:gap-2 { grid-column-gap: 16px; grid-row-gap: 16px; }
.m\:gap-3 { grid-column-gap: 24px; grid-row-gap: 24px; }
.m\:gap-4 { grid-column-gap: 32px; grid-row-gap: 32px; }
.m\:gap-5 { grid-column-gap: 40px; grid-row-gap: 40px; }

.m\:gap-1\% { grid-column-gap: 1%; grid-row-gap: 1%; }
.m\:gap-2\% { grid-column-gap: 2%; grid-row-gap: 2%; }
.m\:gap-3\% { grid-column-gap: 3%; grid-row-gap: 3%; }
.m\:gap-4\% { grid-column-gap: 4%; grid-row-gap: 4%; }
.m\:gap-5\% { grid-column-gap: 5%; grid-row-gap: 5%; }
.m\:gap-10\% { grid-column-gap: 10%; grid-row-gap: 10%; }


/** Flexion, flex-, f- */
.m\:flex-column { display: flex; flex-direction: column; }
.m\:flex-row { display: flex; flex-direction: row; }

.m\:flex-start, .m\:flex-top, .m\:flex-left { align-items: flex-start; }
.m\:flex-end, .m\:flex-bottom, .m\:flex-right { align-items: flex-end; }
.m\:flex-center { align-items: center; }
.m\:flex-baseline { align-items: baseline; }
.m\:flex-stretch { align-items: stretch; }

.m\:flex-wrap { flex-wrap: wrap }

.m\:flex-row-top { display:flex; flex-direction: row; align-items: flex-start; }
.m\:flex-row-bottom { display:flex; flex-direction: row; align-items: flex-end; }
.m\:flex-row-center { display:flex; flex-direction: row; align-items: center; }
.m\:flex-row-baseline { display:flex; flex-direction: row; align-items: baseline; }
.m\:flex-row-stretch { display:flex; flex-direction: row; align-items: stretch; }
.m\:flex-row-wrap { display:flex; flex-direction: row; align-items: flex-start; flex-wrap: wrap }

.m\:flex-column-left { display:flex; flex-direction: column; align-items: flex-start; }
.m\:flex-column-right { display:flex; flex-direction: column; align-items: flex-end; }
.m\:flex-column-center { display:flex; flex-direction: column; align-items: center; }
.m\:flex-column-baseline { display:flex; flex-direction: column; align-items: baseline; }
.m\:flex-column-stretch { display:flex; flex-direction: column; align-items: stretch; }
.m\:flex-column-wrap { display:flex; flex-direction: column; align-items: flex-start; flex-wrap: wrap }

.m\:flex-0 { flex-basis: 0; }
.m\:flex-1-1 { flex-grow: 1; flex-shrink: 1; }
.m\:flex-0-1 { flex-grow: 0; flex-shrink: 1; }
.m\:flex-1-0 { flex-grow: 1; flex-shrink: 0; }
.m\:flex-0-0 { flex-grow: 0; flex-shrink: 0; }

.m\:justify-center { justify-content: center; }
.m\:justify-start { justify-content: flex-start; }
.m\:justify-end { justify-content: flex-end; }
.m\:justify-between { justify-content: space-between; }
.m\:justify-around { justify-content: space-around; }
.m\:justify-evenly { justify-content: space-evenly; }

.m\:self-auto { align-self: auto; }
.m\:self-start { align-self: flex-start; }
.m\:self-end { align-self: flex-end; }
.m\:self-stretch { align-self: stretch; }
.m\:self-center { align-self: center; }
.m\:self-baseline { align-self: baseline; }


/** Position, p-, pos- */
.m\:absolute { position: absolute; }
.m\:fixed { position: fixed; }
.m\:relative { position: relative; }

.m\:block { display: block; }
.m\:inline-block { display: inline-block; }
.m\:d-none { display: none; }

.m\:v-base, .m\:v-baseline { vertical-align: baseline; }
.m\:v-middle { vertical-align: middle; }
.m\:v-top { vertical-align: top; }
.m\:v-bottom { vertical-align: bottom; }

/** Backgroundion, bg-, fillion?, colorion? */
/* !bg-main-parinigs? */
.m\:bg-center { background-repeat:no-repeat;  background-position: center center; }
.m\:bg-top { background-repeat:no-repeat;  background-position: top; }
.m\:bg-bottom { background-repeat:no-repeat;  background-position: bottom; }
.m\:bg-40\% { background-repeat:no-repeat;  background-position: 40%; }
.m\:bg-contain { background-repeat:no-repeat;  background-size: contain; }
.m\:bg-cover { background-repeat:no-repeat;  background-size: cover; }
.m\:bg-none { background: none; }

.m\:c-title { color: var(--title) }
.m\:c-text { color: var(--text) }

.m\:elevation-0 { box-shadow: none }
.m\:elevation-1 { box-shadow:0px 1px 3px 2px rgba(93,100,148,.15) }
.m\:elevation-2 { box-shadow:0px 2px 8px 2px rgba(93,100,148,.15) }
.m\:elevation-3 { box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2); }
.m\:elevation-4 { box-shadow: 0 7px 14px -3px rgba(93,100,148,.3), 0 2px 4px 0 rgba(45,35,66,0.4); }
.m\:elevation-5 { box-shadow: 0px 25.5769px 46.0385px rgba(2, 21, 122, 0.1), 0px 2.55769px 5.11538px rgba(30, 47, 206, 0.08); }

.m\:text-shadow-1 { text-shadow:0px 0px 4px rgba(93,100,148,.15) }
.m\:text-shadow-2 { text-shadow:0px 0px 8px rgba(93,100,148,.15) }
.m\:text-shadow-3 { text-shadow:2px 2px 4px rgba(93,100,148,.15) }
.m\:text-shadow-4 { text-shadow:0 7px 14px rgba(93,100,148,.15), 0 2px 4px rgba(45,35,66,0.4); }
.m\:text-shadow-5 { text-shadow:4px 4px 8px 0px rgba(93,100,148,.15) }

/** Radion radius-, r- (shapion, formion, sizon, spacion, boxion) */
.m\:b-rad { border-radius: 3px }
.m\:b-rad-0 { border-radius: 0px }
.m\:b-rad-0\.25, .m\:b-rad-\.25 { border-radius: 2px }
.m\:b-rad-0\.5, .m\:b-rad-\.5 { border-radius: 4px }
.m\:b-rad-1 { border-radius: 8px }
.m\:b-rad-2 { border-radius: 16px }
.m\:b-rad-3 { border-radius: 24px }
.m\:b-rad-4 { border-radius: 32px }
.m\:b-rad-5 { border-radius: 40px }
.m\:b-rad-999 { border-radius: 999px }

/* TODO: radius-tl:xx */
.m\:btl-rad-0 { border-top-left-radius: 0px }
.m\:btl-rad-0\.25, .m\:btl-rad-\.25 { border-top-left-radius: 2px }
.m\:btl-rad-0\.5, .m\:btl-rad-\.5 { border-top-left-radius: 4px }
.m\:btl-rad-1 { border-top-left-radius: 8px }
.m\:btl-rad-2 { border-top-left-radius: 16px }
.m\:btl-rad-3 { border-top-left-radius: 24px }
.m\:btl-rad-4 { border-top-left-radius: 32px }
.m\:btl-rad-5 { border-top-left-radius: 40px }

.m\:btr-rad-0 { border-top-right-radius: 0px }
.m\:btr-rad-0\.25, .m\:btr-rad-\.25 { border-top-right-radius: 2px }
.m\:btr-rad-0\.5, .m\:btr-rad-\.5 { border-top-right-radius: 4px }
.m\:btr-rad-1 { border-top-right-radius: 8px }
.m\:btr-rad-2 { border-top-right-radius: 16px }
.m\:btr-rad-3 { border-top-right-radius: 24px }
.m\:btr-rad-4 { border-top-right-radius: 32px }
.m\:btr-rad-5 { border-top-right-radius: 40px }

.m\:bbl-rad-0 { border-bottom-left-radius: 0px }
.m\:bbl-rad-0\.25, .m\:bbl-rad-\.25 { border-bottom-left-radius: 2px }
.m\:bbl-rad-0\.5, .m\:bbl-rad-\.5 { border-bottom-left-radius: 4px }
.m\:bbl-rad-1 { border-bottom-left-radius: 8px }
.m\:bbl-rad-2 { border-bottom-left-radius: 16px }
.m\:bbl-rad-3 { border-bottom-left-radius: 24px }
.m\:bbl-rad-4 { border-bottom-left-radius: 32px }
.m\:bbl-rad-5 { border-bottom-left-radius: 40px }

.m\:bbr-rad-0 { border-bottom-right-radius: 0px }
.m\:bbr-rad-0\.25, .m\:bbr-rad-\.25 { border-bottom-right-radius: 2px }
.m\:bbr-rad-0\.5, .m\:bbr-rad-\.5 { border-bottom-right-radius: 4px }
.m\:bbr-rad-1 { border-bottom-right-radius: 8px }
.m\:bbr-rad-2 { border-bottom-right-radius: 16px }
.m\:bbr-rad-3 { border-bottom-right-radius: 24px }
.m\:bbr-rad-4 { border-bottom-right-radius: 32px }
.m\:bbr-rad-5 { border-bottom-right-radius: 40px }

.m\:w-auto { width: auto }
.m\:w-1\/1, .m\:w-100\%, .m\:w-full { width: 100% }
.m\:w-3\/4, .m\:w-75\%, .m\:w-half { width: 75% }
.m\:w-2\/3, .m\:w-66\%, .m\:w-half { width: 66% }
.m\:w-1\/2, .m\:w-50\%, .m\:w-half { width: 50% }
.m\:w-1\/3, .m\:w-33\%, .m\:w-third { width: 33.33% }
.m\:w-1\/4, .m\:w-25\% { width: 25% }
.m\:w-1\/5, .m\:w-20\% { width: 20% }

.m\:w-0 { width: 0; }
.m\:w-0\.5, .m\:w-\.5 { width: 4px; }
.m\:w-1 { width: 8px; }
.m\:w-1\.5 { width: 12px; }
.m\:w-2 { width: 16px; }
.m\:w-3 { width: 24px; }
.m\:w-4 { width: 32px; }
.m\:w-5 { width: 40px; }
.m\:w-6 { width: 48px; }
.m\:w-7 { width: 56px; }
.m\:w-8 { width: 64px; }
.m\:w-10 { width: 80px; }
.m\:w-12 { width: 96px; }
.m\:w-15 { width: 120px; }
.m\:w-16 { width: 128px; }
.m\:w-20 { width: 160px; }
.m\:w-24 { width: 192px; }
.m\:w-25 { width: 200px; }
.m\:w-28 { width: 224px; }
.m\:w-30 { width: 240px; }
.m\:w-32 { width: 256px; }
.m\:w-40 { width: 320px; }
.m\:w-50 { width: 400px; }

.m\:h-auto { height: auto }
.m\:h-1\/1, .m\:h-100\% { height: 100% }
.m\:h-1\/2, .m\:h-50\% { height: 50% }
.m\:h-1\/3, .m\:h-33\% { height: 33.33% }
.m\:h-1\/4, .m\:h-25\% { height: 25% }

.m\:h-0 { height: 0; }
.m\:h-0\.5, .m\:h-\.5 { height: 4px; }
.m\:h-1 { height: 8px; }
.m\:h-1\.5 { height: 12px; }
.m\:h-2 { height: 16px; }
.m\:h-3 { height: 24px; }
.m\:h-4 { height: 32px; }
.m\:h-5 { height: 40px; }
.m\:h-6 { height: 48px; }
.m\:h-7 { height: 56px; }
.m\:h-8 { height: 64px; }
.m\:h-10 { height: 80px; }
.m\:h-12 { height: 96px; }
.m\:h-15 { height: 120px; }
.m\:h-16 { height: 128px; }
.m\:h-20 { height: 160px; }
.m\:h-24 { height: 192px; }
.m\:h-25 { height: 200px; }
.m\:h-28 { height: 224px; }
.m\:h-30 { height: 240px; }
.m\:h-32 { height: 256px; }
.m\:h-40 { height: 320px; }
.m\:h-50 { height: 400px; }

/** Bordion */
.m\:b-none { border: none; }
.m\:bl-none { border-left: none; }
.m\:bt-none { border-top: none; }
.m\:bb-none { border-bottom: none; }
.m\:br-none { border-right: none; }
.m\:bt-0 { border-top-width: 0; border-top-style: solid; }
.m\:bt-0-solid { border-top-width: 0; border-top-style: solid; }
.m\:bt-0-dashed { border-top-width: 0; border-top-style: dashed; }
.m\:bt-0-dotted { border-top-width: 0; border-top-style: dotted; }
.m\:bt-1 { border-top-width: 1px; border-top-style: solid; }
.m\:bt-1-solid { border-top-width: 1px; border-top-style: solid; }
.m\:bt-1-dashed { border-top-width: 1px; border-top-style: dashed; }
.m\:bt-1-dotted { border-top-width: 1px; border-top-style: dotted; }
.m\:bt-2 { border-top-width: 2px; border-top-style: solid; }
.m\:bt-2-solid { border-top-width: 2px; border-top-style: solid; }
.m\:bt-2-dashed { border-top-width: 2px; border-top-style: dashed; }
.m\:bt-2-dotted { border-top-width: 2px; border-top-style: dotted; }
.m\:bt-3 { border-top-width: 3px; border-top-style: solid; }
.m\:bt-3-solid { border-top-width: 3px; border-top-style: solid; }
.m\:bt-3-dashed { border-top-width: 3px; border-top-style: dashed; }
.m\:bt-3-dotted { border-top-width: 3px; border-top-style: dotted; }
.m\:bt-4 { border-top-width: 4px; border-top-style: solid; }
.m\:bt-4-solid { border-top-width: 4px; border-top-style: solid; }
.m\:bt-4-dashed { border-top-width: 4px; border-top-style: dashed; }
.m\:bt-4-dotted { border-top-width: 4px; border-top-style: dotted; }
.m\:bb-0 { border-bottom-width: 0; border-bottom-style: solid; }
.m\:bb-0-solid { border-bottom-width: 0; border-bottom-style: solid; }
.m\:bb-0-dashed { border-bottom-width: 0; border-bottom-style: dashed; }
.m\:bb-0-dotted { border-bottom-width: 0; border-bottom-style: dotted; }
.m\:bb-1 { border-bottom-width: 1px; border-bottom-style: solid; }
.m\:bb-1-solid { border-bottom-width: 1px; border-bottom-style: solid; }
.m\:bb-1-dashed { border-bottom-width: 1px; border-bottom-style: dashed; }
.m\:bb-1-dotted { border-bottom-width: 1px; border-bottom-style: dotted; }
.m\:bb-2 { border-bottom-width: 2px; border-bottom-style: solid; }
.m\:bb-2-solid { border-bottom-width: 2px; border-bottom-style: solid; }
.m\:bb-2-dashed { border-bottom-width: 2px; border-bottom-style: dashed; }
.m\:bb-2-dotted { border-bottom-width: 2px; border-bottom-style: dotted; }
.m\:bb-3 { border-bottom-width: 3px; border-bottom-style: solid; }
.m\:bb-3-solid { border-bottom-width: 3px; border-bottom-style: solid; }
.m\:bb-3-dashed { border-bottom-width: 3px; border-bottom-style: dashed; }
.m\:bb-3-dotted { border-bottom-width: 3px; border-bottom-style: dotted; }
.m\:bb-4 { border-bottom-width: 4px; border-bottom-style: solid; }
.m\:bb-4-solid { border-bottom-width: 4px; border-bottom-style: solid; }
.m\:bb-4-dashed { border-bottom-width: 4px; border-bottom-style: dashed; }
.m\:bb-4-dotted { border-bottom-width: 4px; border-bottom-style: dotted; }
.m\:br-0 { border-right-width: 0; border-right-style: solid; }
.m\:br-0-solid { border-right-width: 0; border-right-style: solid; }
.m\:br-0-dashed { border-right-width: 0; border-right-style: dashed; }
.m\:br-0-dotted { border-right-width: 0; border-right-style: dotted; }
.m\:br-1 { border-right-width: 1px; border-right-style: solid; }
.m\:br-1-solid { border-right-width: 1px; border-right-style: solid; }
.m\:br-1-dashed { border-right-width: 1px; border-right-style: dashed; }
.m\:br-1-dotted { border-right-width: 1px; border-right-style: dotted; }
.m\:br-2 { border-right-width: 2px; border-right-style: solid; }
.m\:br-2-solid { border-right-width: 2px; border-right-style: solid; }
.m\:br-2-dashed { border-right-width: 2px; border-right-style: dashed; }
.m\:br-2-dotted { border-right-width: 2px; border-right-style: dotted; }
.m\:br-3 { border-right-width: 3px; border-right-style: solid; }
.m\:br-3-solid { border-right-width: 3px; border-right-style: solid; }
.m\:br-3-dashed { border-right-width: 3px; border-right-style: dashed; }
.m\:br-3-dotted { border-right-width: 3px; border-right-style: dotted; }
.m\:br-4 { border-right-width: 4px; border-right-style: solid; }
.m\:br-4-solid { border-right-width: 4px; border-right-style: solid; }
.m\:br-4-dashed { border-right-width: 4px; border-right-style: dashed; }
.m\:br-4-dotted { border-right-width: 4px; border-right-style: dotted; }
.m\:bl-0 { border-left-width: 0; border-left-style: solid; }
.m\:bl-0-solid { border-left-width: 0; border-left-style: solid; }
.m\:bl-0-dashed { border-left-width: 0; border-left-style: dashed; }
.m\:bl-0-dotted { border-left-width: 0; border-left-style: dotted; }
.m\:bl-1 { border-left-width: 1px; border-left-style: solid; }
.m\:bl-1-solid { border-left-width: 1px; border-left-style: solid; }
.m\:bl-1-dashed { border-left-width: 1px; border-left-style: dashed; }
.m\:bl-1-dotted { border-left-width: 1px; border-left-style: dotted; }
.m\:bl-2 { border-left-width: 2px; border-left-style: solid; }
.m\:bl-2-solid { border-left-width: 2px; border-left-style: solid; }
.m\:bl-2-dashed { border-left-width: 2px; border-left-style: dashed; }
.m\:bl-2-dotted { border-left-width: 2px; border-left-style: dotted; }
.m\:bl-3 { border-left-width: 3px; border-left-style: solid; }
.m\:bl-3-solid { border-left-width: 3px; border-left-style: solid; }
.m\:bl-3-dashed { border-left-width: 3px; border-left-style: dashed; }
.m\:bl-3-dotted { border-left-width: 3px; border-left-style: dotted; }
.m\:bl-4 { border-left-width: 4px; border-left-style: solid; }
.m\:bl-4-solid { border-left-width: 4px; border-left-style: solid; }
.m\:bl-4-dashed { border-left-width: 4px; border-left-style: dashed; }
.m\:bl-4-dotted { border-left-width: 4px; border-left-style: dotted; }
.m\:b-solid { border-style: solid }
.m\:b-dotted { border-style: dotted }
.m\:b-dashed { border-style: dashed }
.m\:bb-solid { border-bottom-style: solid }
.m\:bb-dotted { border-bottom-style: dotted }
.m\:bb-dashed { border-bottom-style: dashed }
.m\:bt-solid { border-top-style: solid }
.m\:bt-dotted { border-top-style: dotted }
.m\:bt-dashed { border-top-style: dashed }
.m\:bl-solid { border-left-style: solid }
.m\:bl-dotted { border-left-style: dotted }
.m\:bl-dashed { border-left-style: dashed }
.m\:br-solid { border-right-style: solid }
.m\:br-dotted { border-right-style: dotted }
.m\:br-dashed { border-right-style: dashed }

/** Posityon, pos-t:xx */
.m\:t-auto { top: auto } .m\:l-auto { left: auto } .m\:r-auto { right: auto } .m\:b-auto { bottom: auto }
.m\:t--0\.5, .m\:t--\.5 { top: -4px } .m\:l--0\.5, .m\:l--\.5 { left: -4px } .m\:r--0\.5, .m\:r--\.5 { right: -4px } .m\:b--0\.5, .m\:b--\.5 { bottom: -4px }
.m\:t--1 { top: -8px } .m\:l--1 { left: -8px } .m\:r--1 { right: -8px } .m\:b--1 { bottom: -8px }
.m\:t--1\.5 { top: -12px } .m\:l--1\.5 { left: -12px } .m\:r--1\.5 { right: -12px } .m\:b--1\.5 { bottom: -12px }
.m\:t--2 { top: -16px} .m\:l--2 { left: -16px} .m\:r--2 { right: -16px} .m\:b--2 { bottom: -16px}
.m\:t--3 { top: -24px } .m\:l--3 { left: -24px } .m\:r--3 { right: -24px } .m\:b--3 { bottom: -24px }
.m\:t--4 { top: -32px } .m\:l--4 { left: -32px } .m\:r--4 { right: -32px } .m\:b--4 { bottom: -32px }
.m\:t--5 { top: -40px } .m\:l--5 { left: -40px } .m\:r--5 { right: -40px } .m\:b--5 { bottom: -40px }
.m\:t--6 { top: -48px } .m\:l--6 { left: -48px } .m\:r--6 { right: -48px } .m\:b--6 { bottom: -48px }
.m\:t--7 { top: -56px } .m\:l--7 { left: -56px } .m\:r--7 { right: -56px } .m\:b--7 { bottom: -56px }
.m\:t--8 { top: -64px } .m\:l--8 { left: -64px } .m\:r--8 { right: -64px } .m\:b--8 { bottom: -64px }
.m\:t--9 { top: -72px } .m\:l--9 { left: -72px } .m\:r--9 { right: -72px } .m\:b--9 { bottom: -72px }
.m\:t--10 { top: -80px } .m\:l--10 { left: -80px } .m\:r--10 { right: -80px } .m\:b--10 { bottom: -80px }
.m\:t--11 { top: -88px } .m\:l--11 { left: -88px } .m\:r--11 { right: -88px } .m\:b--11 { bottom: -88px }
.m\:t--12 { top: -96px } .m\:l--12 { left: -96px } .m\:r--12 { right: -96px } .m\:b--12 { bottom: -96px }
.m\:t--15 { top: -120px } .m\:l--15 { left: -120px } .m\:r--15 { right: -120px } .m\:b--15 { bottom: -120px }
.m\:t--16 { top: -128px } .m\:l--16 { left: -128px } .m\:r--16 { right: -128px } .m\:b--16 { bottom: -128px }
.m\:t--20 { top: -160px } .m\:l--20 { left: -160px } .m\:r--20 { right: -160px } .m\:b--20 { bottom: -160px }
.m\:t--25 { top: -200px } .m\:l--25 { left: -200px } .m\:r--25 { right: -200px } .m\:b--25 { bottom: -200px }
.m\:t--30 { top: -240px } .m\:l--30 { left: -240px } .m\:r--30 { right: -240px } .m\:b--30 { bottom: -240px }
.m\:t--32 { top: -256px } .m\:l--32 { left: -256px } .m\:r--32 { right: -256px } .m\:b--32 { bottom: -256px }
.m\:t--40 { top: -320px } .m\:l--40 { left: -320px } .m\:r--40 { right: -320px } .m\:b--40 { bottom: -320px }
.m\:t--50 { top: -400px } .m\:l--50 { left: -400px } .m\:r--50 { right: -400px } .m\:b--50 { bottom: -400px }
.m\:t--0 { top: -0 } .m\:l--0 { left: -0 } .m\:r--0 { right: -0 } .m\:b--0 { bottom: -0 }
.m\:t-0 { top: 0 } .m\:l-0 { left: 0 } .m\:r-0 { right: 0 } .m\:b-0 { bottom: 0 }
.m\:t-0\.5, .m\:t-\.5 { top: 4px } .m\:l-0\.5, .m\:l-\.5 { left: 4px } .m\:r-0\.5, .m\:r-\.5 { right: 4px } .m\:b-0\.5, .m\:b-\.5 { bottom: 4px }
.m\:t-1 { top: 8px } .m\:l-1 { left: 8px } .m\:r-1 { right: 8px } .m\:b-1 { bottom: 8px }
.m\:t-1\.5 { top: 12px } .m\:l-1\.5 { left: 12px } .m\:r-1\.5 { right: 12px } .m\:b-1\.5 { bottom: 12px }
.m\:t-2 { top: 16px} .m\:l-2 { left: 16px} .m\:r-2 { right: 16px} .m\:b-2 { bottom: 16px}
.m\:t-3 { top: 24px } .m\:l-3 { left: 24px } .m\:r-3 { right: 24px } .m\:b-3 { bottom: 24px }
.m\:t-4 { top: 32px } .m\:l-4 { left: 32px } .m\:r-4 { right: 32px } .m\:b-4 { bottom: 32px }
.m\:t-5 { top: 40px } .m\:l-5 { left: 40px } .m\:r-5 { right: 40px } .m\:b-5 { bottom: 40px }
.m\:t-6 { top: 48px } .m\:l-6 { left: 48px } .m\:r-6 { right: 48px } .m\:b-6 { bottom: 48px }
.m\:t-7 { top: 56px } .m\:l-7 { left: 56px } .m\:r-7 { right: 56px } .m\:b-7 { bottom: 56px }
.m\:t-8 { top: 64px } .m\:l-8 { left: 64px } .m\:r-8 { right: 64px } .m\:b-8 { bottom: 64px }
.m\:t-9 { top: 72px } .m\:l-9 { left: 72px } .m\:r-9 { right: 72px } .m\:b-9 { bottom: 72px }
.m\:t-10 { top: 80px } .m\:l-10 { left: 80px } .m\:r-10 { right: 80px } .m\:b-10 { bottom: 80px }
.m\:t-11 { top: 88px } .m\:l-11 { left: 88px } .m\:r-11 { right: 88px } .m\:b-11 { bottom: 88px }
.m\:t-12 { top: 96px } .m\:l-12 { left: 96px } .m\:r-12 { right: 96px } .m\:b-12 { bottom: 96px }
.m\:t-15 { top: 120px } .m\:l-15 { left: 120px } .m\:r-15 { right: 120px } .m\:b-15 { bottom: 120px }
.m\:t-16 { top: 128px } .m\:l-16 { left: 128px } .m\:r-16 { right: 128px } .m\:b-16 { bottom: 128px }
.m\:t-20 { top: 160px } .m\:l-20 { left: 160px } .m\:r-20 { right: 160px } .m\:b-20 { bottom: 160px }
.m\:t-25 { top: 200px } .m\:l-25 { left: 200px } .m\:r-25 { right: 200px } .m\:b-25 { bottom: 200px }
.m\:t-30 { top: 240px } .m\:l-30 { left: 240px } .m\:r-30 { right: 240px } .m\:b-30 { bottom: 240px }
.m\:t-32 { top: 256px } .m\:l-32 { left: 256px } .m\:r-32 { right: 256px } .m\:b-32 { bottom: 256px }
.m\:t-36 { top: 288px } .m\:l-36 { left: 288px } .m\:r-36 { right: 288px } .m\:b-36 { bottom: 288px }
.m\:t-40 { top: 320px } .m\:l-40 { left: 320px } .m\:r-40 { right: 320px } .m\:b-40 { bottom: 320px }
.m\:t-50 { top: 400px } .m\:l-50 { left: 400px } .m\:r-50 { right: 400px } .m\:b-50 { bottom: 400px }

.m\:z--1 { z-index: -1; }
.m\:z-0 { z-index: 0; }
.m\:z-1 { z-index: 1; }
.m\:z-2 { z-index: 2; }
.m\:z-3 { z-index: 3; }
.m\:z-4 { z-index: 4; }
.m\:z-5 { z-index: 5; }
.m\:z-999 { z-index: 999; }
.m\:z-9999 { z-index: 9999; }
.m\:z-max { z-index: 2147483647; }
.m\:z-unset { z-index: unset; }

.m\:order--999 { order: -999; }
.m\:order--1 { order: -1; }
.m\:order-0 { order: 0; }
.m\:order-1 { order: 1; }
.m\:order-2 { order: 2; }
.m\:order-3 { order: 3; }
.m\:order-4 { order: 4; }
.m\:order-5 { order: 5; }
.m\:order-6 { order: 6; }
.m\:order-7 { order: 7; }
.m\:order-8 { order: 8; }
.m\:order-9 { order: 9; }
.m\:order-10 { order: 10; }
.m\:order-100 { order: 100; }
.m\:order-999 { order: 999; }
.m\:order-1000 { order: 1000; }
.m\:order-9999 { order: 9999; }
.m\:order-max { order: 2147483647; }
.m\:order-unset { order: unset; }



/** Spacyon, paddyon, p- */
/* !merge with margin- */
.m\:p-0 { padding: 0; }
.m\:p-0\.5, .m\:p-\.5 { padding: 4px; }
.m\:p-1 { padding: 8px; }
.m\:p-1\.5 { padding: 12px; }
.m\:p-2 { padding: 16px; }
.m\:p-3 { padding: 24px; }
.m\:p-4 { padding: 32px; }
.m\:p-5 { padding: 40px; }
.m\:p-6 { padding: 48px; }
.m\:p-7 { padding: 56px; }
.m\:p-8 { padding: 64px; }

.m\:py-0 { padding-top: 0;  padding-bottom: 0; }
.m\:py-0\.5, .m\:py-\.5 { padding-top: 4px;  padding-bottom: 4px; }
.m\:py-1 { padding-top: 8px;  padding-bottom: 8px; }
.m\:py-1\.5 { padding-top: 12px;  padding-bottom: 12px; }
.m\:py-2 { padding-top: 16px;  padding-bottom: 16px; }
.m\:py-3 { padding-top: 24px;  padding-bottom: 24px; }
.m\:py-4 { padding-top: 32px;  padding-bottom: 32px; }
.m\:py-5 { padding-top: 40px;  padding-bottom: 40px; }
.m\:py-6 { padding-top: 48px;  padding-bottom: 48px; }
.m\:py-7 { padding-top: 56px;  padding-bottom: 56px; }
.m\:py-8 { padding-top: 64px;  padding-bottom: 64px; }

.m\:px-0 { padding-left: 0;  padding-right: 0; }
.m\:px-0\.5, .m\:px-\.5 { padding-left: 4px;  padding-right: 4px; }
.m\:px-1 { padding-left: 8px;  padding-right: 8px; }
.m\:px-1\.5 { padding-left: 12px;  padding-right: 12px; }
.m\:px-2 { padding-left: 16px;  padding-right: 16px; }
.m\:px-3 { padding-left: 24px;  padding-right: 24px; }
.m\:px-4 { padding-left: 32px;  padding-right: 32px; }
.m\:px-5 { padding-left: 40px;  padding-right: 40px; }
.m\:px-6 { padding-left: 48px;  padding-right: 48px; }
.m\:px-7 { padding-left: 56px;  padding-right: 56px; }
.m\:px-8 { padding-left: 64px;  padding-right: 64px; }

.m\:pl-0 { padding-left: 0; }
.m\:pl-0\.5, .m\:pl-\.5 { padding-left: 4px; }
.m\:pl-1 { padding-left: 8px; }
.m\:pl-1\.5 { padding-left: 12px; }
.m\:pl-2 { padding-left: 16px; }
.m\:pl-3 { padding-left: 24px; }
.m\:pl-4 { padding-left: 32px; }
.m\:pl-5 { padding-left: 40px; }
.m\:pl-6 { padding-left: 48px; }
.m\:pl-7 { padding-left: 56px; }
.m\:pl-8 { padding-left: 64px; }

.m\:pr-0 { padding-right: 0; }
.m\:pr-0\.5, .m\:pr-\.5 { padding-right: 4px; }
.m\:pr-1 { padding-right: 8px; }
.m\:pr-1\.5 { padding-right: 12px; }
.m\:pr-2 { padding-right: 16px; }
.m\:pr-3 { padding-right: 24px; }
.m\:pr-4 { padding-right: 32px; }
.m\:pr-5 { padding-right: 40px; }
.m\:pr-6 { padding-right: 48px; }
.m\:pr-7 { padding-right: 56px; }
.m\:pr-8 { padding-right: 64px; }

.m\:pb-0 { padding-bottom: 0; }
.m\:pb-0\.5, .m\:pb-\.5 { padding-bottom: 4px; }
.m\:pb-1 { padding-bottom: 8px; }
.m\:pb-1\.5 { padding-bottom: 12px; }
.m\:pb-2 { padding-bottom: 16px; }
.m\:pb-3 { padding-bottom: 24px; }
.m\:pb-4 { padding-bottom: 32px; }
.m\:pb-5 { padding-bottom: 40px; }
.m\:pb-6 { padding-bottom: 48px; }
.m\:pb-7 { padding-bottom: 56px; }
.m\:pb-8 { padding-bottom: 64px; }

.m\:pt-0 { padding-top: 0; }
.m\:pt-0\.5, .m\:pt-\.5 { padding-top: 4px; }
.m\:pt-1 { padding-top: 8px; }
.m\:pt-1\.5 { padding-top: 12px; }
.m\:pt-2 { padding-top: 16px; }
.m\:pt-3 { padding-top: 24px; }
.m\:pt-4 { padding-top: 32px; }
.m\:pt-5 { padding-top: 40px; }
.m\:pt-6 { padding-top: 48px; }
.m\:pt-7 { padding-top: 56px; }
.m\:pt-8 { padding-top: 64px; }

.m\:m-auto { margin: auto; }
.m\:m-0 { margin: 0; }
.m\:m-0\.5, .m\:m-\.5 { margin: 4px; }
.m\:m-1 { margin: 8px; }
.m\:m-1\.5 { margin: 12px; }
.m\:m-2 { margin: 16px; }
.m\:m-3 { margin: 24px; }
.m\:m-4 { margin: 32px; }
.m\:m-5 { margin: 40px; }
.m\:m-6 { margin: 48px; }
.m\:m-7 { margin: 56px; }
.m\:m-8 { margin: 64px; }
.m\:m-9 { margin: 72px; }
.m\:m-10 { margin: 80px; }

.m\:my-auto { margin-top: auto;  margin-bottom: auto; }
.m\:my--0 { margin-top: -0;  margin-bottom: -0; }
.m\:my--0\.5, .m\:my--\.5 { margin-top: -4px;  margin-bottom: -4px; }
.m\:my--1 { margin-top: -8px;  margin-bottom: -8px; }
.m\:my--1\.5 { margin-top: -12px;  margin-bottom: -12px; }
.m\:my--2 { margin-top: -16px;  margin-bottom: -16px; }
.m\:my--3 { margin-top: -24px;  margin-bottom: -24px; }
.m\:my--4 { margin-top: -32px;  margin-bottom: -32px; }
.m\:my--5 { margin-top: -40px;  margin-bottom: -40px; }
.m\:my--6 { margin-top: -48px;  margin-bottom: -48px; }
.m\:my--7 { margin-top: -56px;  margin-bottom: -56px; }
.m\:my--8 { margin-top: -64px;  margin-bottom: -64px; }
.m\:my--9 { margin-top: -72px;  margin-bottom: -72px; }
.m\:my--10 { margin-top: -80px;  margin-bottom: -80px; }
.m\:my-0 { margin-top: 0;  margin-bottom: 0; }
.m\:my-0\.5, .m\:my-\.5 { margin-top: 4px;  margin-bottom: 4px; }
.m\:my-1 { margin-top: 8px;  margin-bottom: 8px; }
.m\:my-1\.5 { margin-top: 12px;  margin-bottom: 12px; }
.m\:my-2 { margin-top: 16px;  margin-bottom: 16px; }
.m\:my-3 { margin-top: 24px;  margin-bottom: 24px; }
.m\:my-4 { margin-top: 32px;  margin-bottom: 32px; }
.m\:my-5 { margin-top: 40px;  margin-bottom: 40px; }
.m\:my-6 { margin-top: 48px;  margin-bottom: 48px; }
.m\:my-7 { margin-top: 56px;  margin-bottom: 56px; }
.m\:my-8 { margin-top: 64px;  margin-bottom: 64px; }
.m\:my-9 { margin-top: 72px;  margin-bottom: 72px; }
.m\:my-10 { margin-top: 80px;  margin-bottom: 80px; }

.m\:mx-auto { margin-left: auto;  margin-right: auto; }
.m\:mx--0 { margin-left: -0;  margin-right: -0; }
.m\:mx--0\.5, .m\:mx--\.5 { margin-left: -4px;  margin-right: -4px; }
.m\:mx--1 { margin-left: -8px;  margin-right: -8px; }
.m\:mx--1\.5 { margin-left: -12px;  margin-right: -12px; }
.m\:mx--2 { margin-left: -16px;  margin-right: -16px; }
.m\:mx--3 { margin-left: -24px;  margin-right: -24px; }
.m\:mx--4 { margin-left: -32px;  margin-right: -32px; }
.m\:mx--5 { margin-left: -40px;  margin-right: -40px; }
.m\:mx--6 { margin-left: -48px;  margin-right: -48px; }
.m\:mx--7 { margin-left: -56px;  margin-right: -56px; }
.m\:mx--8 { margin-left: -64px;  margin-right: -64px; }
.m\:mx--9 { margin-left: -72px;  margin-right: -72px; }
.m\:mx--10 { margin-left: -80px;  margin-right: -80px; }
.m\:mx-0 { margin-left: 0;  margin-right: 0; }
.m\:mx-0\.5, .m\:mx-\.5 { margin-left: 4px;  margin-right: 4px; }
.m\:mx-1 { margin-left: 8px;  margin-right: 8px; }
.m\:mx-1\.5 { margin-left: 12px;  margin-right: 12px; }
.m\:mx-2 { margin-left: 16px;  margin-right: 16px; }
.m\:mx-3 { margin-left: 24px;  margin-right: 24px; }
.m\:mx-4 { margin-left: 32px;  margin-right: 32px; }
.m\:mx-5 { margin-left: 40px;  margin-right: 40px; }
.m\:mx-6 { margin-left: 48px;  margin-right: 48px; }
.m\:mx-7 { margin-left: 56px;  margin-right: 56px; }
.m\:mx-8 { margin-left: 64px;  margin-right: 64px; }
.m\:mx-9 { margin-left: 72px;  margin-right: 72px; }
.m\:mx-10 { margin-left: 80px;  margin-right: 80px; }

.m\:ml-auto { margin-left: auto; }
.m\:ml--0 { margin-left: -0; }
.m\:ml--0\.5, .m\:ml--\.5 { margin-left: -4px; }
.m\:ml--1 { margin-left: -8px; }
.m\:ml--1\.5 { margin-left: -12px; }
.m\:ml--2 { margin-left: -16px; }
.m\:ml--3 { margin-left: -24px; }
.m\:ml--4 { margin-left: -32px; }
.m\:ml--5 { margin-left: -40px; }
.m\:ml--6 { margin-left: -48px; }
.m\:ml--7 { margin-left: -56px; }
.m\:ml--8 { margin-left: -64px; }
.m\:ml--9 { margin-left: -72px; }
.m\:ml--10 { margin-left: -80px; }
.m\:ml-0 { margin-left: 0; }
.m\:ml-0\.5, .m\:ml-\.5 { margin-left: 4px; }
.m\:ml-1 { margin-left: 8px; }
.m\:ml-1\.5 { margin-left: 12px; }
.m\:ml-2 { margin-left: 16px; }
.m\:ml-3 { margin-left: 24px; }
.m\:ml-4 { margin-left: 32px; }
.m\:ml-5 { margin-left: 40px; }
.m\:ml-6 { margin-left: 48px; }
.m\:ml-7 { margin-left: 56px; }
.m\:ml-8 { margin-left: 64px; }
.m\:ml-9 { margin-left: 72px; }
.m\:ml-10 { margin-left: 80px; }

.m\:mr-auto { margin-right: auto; }
.m\:mr--0 { margin-right: -0; }
.m\:mr--0\.5, .m\:mr--\.5 { margin-right: -4px; }
.m\:mr--1 { margin-right: -8px; }
.m\:mr--1\.5 { margin-right: -12px; }
.m\:mr--2 { margin-right: -16px; }
.m\:mr--3 { margin-right: -24px; }
.m\:mr--4 { margin-right: -32px; }
.m\:mr--5 { margin-right: -40px; }
.m\:mr--6 { margin-right: -48px; }
.m\:mr--7 { margin-right: -56px; }
.m\:mr--8 { margin-right: -64px; }
.m\:mr--9 { margin-right: -72px; }
.m\:mr--10 { margin-right: -80px; }
.m\:mr-0 { margin-right: 0; }
.m\:mr-0\.5, .m\:mr-\.5 { margin-right: 4px; }
.m\:mr-1 { margin-right: 8px; }
.m\:mr-1\.5 { margin-right: 12px; }
.m\:mr-2 { margin-right: 16px; }
.m\:mr-3 { margin-right: 24px; }
.m\:mr-4 { margin-right: 32px; }
.m\:mr-5 { margin-right: 40px; }
.m\:mr-6 { margin-right: 48px; }
.m\:mr-7 { margin-right: 56px; }
.m\:mr-8 { margin-right: 64px; }
.m\:mr-9 { margin-right: 72px; }
.m\:mr-10 { margin-right: 80px; }

.m\:mb-auto { margin-bottom: auto; }
.m\:mb--0 { margin-bottom: -0; }
.m\:mb--0\.5, .m\:mb--\.5 { margin-bottom: -4px; }
.m\:mb--1 { margin-bottom: -8px; }
.m\:mb--1\.5 { margin-bottom: -12px; }
.m\:mb--2 { margin-bottom: -16px; }
.m\:mb--3 { margin-bottom: -24px; }
.m\:mb--4 { margin-bottom: -32px; }
.m\:mb--5 { margin-bottom: -40px; }
.m\:mb--6 { margin-bottom: -48px; }
.m\:mb--7 { margin-bottom: -56px; }
.m\:mb--8 { margin-bottom: -64px; }
.m\:mb--9 { margin-bottom: -72px; }
.m\:mb--10 { margin-bottom: -80px; }
.m\:mb-0 { margin-bottom: 0; }
.m\:mb-0\.5, .m\:mb-\.5 { margin-bottom: 4px; }
.m\:mb-1 { margin-bottom: 8px; }
.m\:mb-1\.5 { margin-bottom: 12px; }
.m\:mb-2 { margin-bottom: 16px; }
.m\:mb-3 { margin-bottom: 24px; }
.m\:mb-4 { margin-bottom: 32px; }
.m\:mb-5 { margin-bottom: 40px; }
.m\:mb-6 { margin-bottom: 48px; }
.m\:mb-7 { margin-bottom: 56px; }
.m\:mb-8 { margin-bottom: 64px; }
.m\:mb-9 { margin-bottom: 72px; }
.m\:mb-10 { margin-bottom: 80px; }

.m\:mt-auto { margin-top: auto; }
.m\:mt--0 { margin-top: -0; }
.m\:mt--0\.5, .m\:mt--\.5 { margin-top: -4px; }
.m\:mt--1 { margin-top: -8px; }
.m\:mt--1\.5 { margin-top: -12px; }
.m\:mt--2 { margin-top: -16px; }
.m\:mt--3 { margin-top: -24px; }
.m\:mt--4 { margin-top: -32px; }
.m\:mt--5 { margin-top: -40px; }
.m\:mt--6 { margin-top: -48px; }
.m\:mt--7 { margin-top: -56px; }
.m\:mt--8 { margin-top: -64px; }
.m\:mt--9 { margin-top: -72px; }
.m\:mt--10 { margin-top: -80px; }
.m\:mt-0 { margin-top: 0; }
.m\:mt-0\.5, .m\:mt-\.5 { margin-top: 4px; }
.m\:mt-1 { margin-top: 8px; }
.m\:mt-1\.5 { margin-top: 12px; }
.m\:mt-2 { margin-top: 16px; }
.m\:mt-3 { margin-top: 24px; }
.m\:mt-4 { margin-top: 32px; }
.m\:mt-5 { margin-top: 40px; }
.m\:mt-6 { margin-top: 48px; }
.m\:mt-7 { margin-top: 56px; }
.m\:mt-8 { margin-top: 64px; }
.m\:mt-9 { margin-top: 72px; }
.m\:mt-10 { margin-top: 80px; }

.m\:indent-auto { text-indent: auto; }
.m\:indent--0 { text-indent: -0; }
.m\:indent--0\.5, .m\:indent--\.5 { text-indent: -4px; }
.m\:indent--1 { text-indent: -8px; }
.m\:indent--1\.5 { text-indent: -12px; }
.m\:indent--2 { text-indent: -16px; }
.m\:indent--3 { text-indent: -24px; }
.m\:indent--4 { text-indent: -32px; }
.m\:indent--5 { text-indent: -40px; }
.m\:indent--6 { text-indent: -48px; }
.m\:indent--7 { text-indent: -56px; }
.m\:indent--8 { text-indent: -64px; }
.m\:indent--9 { text-indent: -72px; }
.m\:indent--10 { text-indent: -80px; }
.m\:indent-0 { text-indent: 0; }
.m\:indent-0\.5, .m\:indent-\.5 { text-indent: 4px; }
.m\:indent-1 { text-indent: 8px; }
.m\:indent-1\.5 { text-indent: 12px; }
.m\:indent-2 { text-indent: 16px; }
.m\:indent-3 { text-indent: 24px; }
.m\:indent-4 { text-indent: 32px; }
.m\:indent-5 { text-indent: 40px; }
.m\:indent-6 { text-indent: 48px; }
.m\:indent-7 { text-indent: 56px; }
.m\:indent-8 { text-indent: 64px; }
.m\:indent-9 { text-indent: 72px; }
.m\:indent-10 { text-indent: 80px; }

.m\:scale-0\.8 { transform: scale(0.8) }
.m\:scale-0\.9 { transform: scale(0.9) }
.m\:scale-0\.92 { transform: scale(0.92) }
.m\:scale-1 { transform: scale(1) }
.m\:scale-1\.08 { transform: scale(1.08) }
.m\:scale-1\.1 { transform: scale(1.1) }
.m\:scale-1\.2 { transform: scale(1.2) }
.m\:scale-1\.3 { transform: scale(1.3) }

.m\:a-1 { opacity: 1.00; }
.m\:a-\.95, .m\:a-0\.95 { opacity: .95; }
.m\:a-\.9, .m\:a-0\.9 { opacity: .90; }
.m\:a-\.85, .m\:a-0\.85 { opacity: .85; }
.m\:a-\.8, .m\:a-0\.8 { opacity: .80; }
.m\:a-\.75, .m\:a-0\.75 { opacity: .75; }
.m\:a-\.7, .m\:a-0\.7 { opacity: .70; }
.m\:a-\.66, .m\:a-0\.66 { opacity: .66; }
.m\:a-\.6, .m\:a-0\.6 { opacity: .60; }
.m\:a-\.5, .m\:a-0\.5 { opacity: .50; }
.m\:a-\.4, .m\:a-0\.4 { opacity: .40; }
.m\:a-\.33, .m\:a-0\.33 { opacity: .33; }
.m\:a-\.3, .m\:a-0\.3 { opacity: .30; }
.m\:a-\.25, .m\:a-0\.25 { opacity: .25; }
.m\:a-\.2, .m\:a-0\.2 { opacity: .20; }
.m\:a-\.15, .m\:a-0\.15 { opacity: .15; }
.m\:a-\.1, .m\:a-0\.1 { opacity: .10; }
.m\:a-0 { opacity: .0; }

/* TODO: move to animation effects */
.m\:hover\:slide {
  transition: transform 0.15s ease;
  will-change: transform;
}
.m\:hover\:slide:hover {
  transform: translateY(-2px);
}




}
